.input-wrapper {
    position: relative;
    input {
        height: 100%;
        color: var(--white);
        font-size: var(--body);
        padding: 8px 16px;
        background: var(--element1);
        border: 0;
        &::selection {
            color: white;
        }
    }
    .sl-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        & + input {
            padding-left: 42px;
        }
    }
}

.input-block {
    input {
        border-radius: 4px 0 0 4px;
        outline: 0;
    }
}
