---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="My Coding Activity - Samuel Lawrentz">
  <div class="section__title section__title__new">MY CODING ACTIVITY</div>
  <p style="margin:40px 0 25px;">
    I use WakaTime to track my coding activity. It's a great tool to track
    your coding activity and helps you improve your productivity. It's
    fascinating how IDEs have evolved over the years.
    <br /><br />
    I started with Notepad++, then moved to Visual Studio, and now I
    am using VSCode and NeoVim. Tracking time helps me to understand how
    much time I spend on each project and helps me to improve my
    productivity.
  </p>
  <div class="coding-activity" style="display:flex;flex-direction:column;">
    <figure>
      <embed src="https://wakatime.com/share/@c2883fa9-c937-4e8e-8956-e5b47d6dbf96/ff4a5ca7-7dee-4ef7-b7e2-af05dcea72f0.svg" />
    </figure>
  </div>

  <div class="section">
    <div class="section__title section__title__new">Top Languages</div>
    <p style="margin:40px 0 25px;">
      WakaTime illuminates my coding landscape, presenting insightful charts
      of my top programming languages. It's a visual journey through
      efficiency, revealing my coding symphony in a glance. The 'Other'
      category? A mysterious realm encompassing terminal prowess,
      alternative IDE wizardry, and untracked coding adventures.
    </p>
    <div class="coding-activity" style="display:flex;flex-direction:column;">
      <figure>
        <embed src="https://wakatime.com/share/@samuellawrentz/adc4c8e6-679b-435c-becf-3d5a6f5b3f11.svg" />
      </figure>
    </div>
  </div>

  <div class="section">
    <div class="section__title section__title__new">CALENDAR</div>
    <figure class="hidden dark:block">
      <embed src="https://wakatime.com/share/@samuellawrentz/f67c01db-1f8f-406e-8778-8f7f93b46ca0.svg" />
    </figure>
    <figure class="block dark:hidden">
      <embed src="https://wakatime.com/share/@samuellawrentz/806d095c-43c0-4d91-ae0c-da554d141dcf.svg" />
    </figure>
  </div>

  <p style="color:var(--element2);">
    Will revisit this page when I have time. Right now, the design looks
    miserable.
  </p>
</BaseLayout>
