.button {
    padding: 3px 20px;
    border-radius: 46px;
    height: fit-content;
    background-color: var(--element1);
    color: var(--surface1);
    cursor: pointer;
    &-secondary {
        border: 1px solid var(--element1);
        color: var(--element1);
        background-color: transparent;
    }
}