.button {
    padding: 8px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--element1);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &-disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &-secondary {
        border: 1px solid var(--element1);
        color: var(--element1);
        background-color: transparent;
    }
    &-small {
        font-size: 14px;
        padding: 1px 10px;
    }
}

.input-wrapper + .button {
border-radius: 0 4px 4px 0;
}

.link-button {
    text-decoration: none;
}