.hero-image {
    border-radius: 15px;
    height: 350px;
}

deckgo-highlight-code {
    margin-bottom: 40px;
    font-size: var(--h6);
    line-height: 1.8;
}

.blog-content {
    h2 {
        margin-top: 60px;
    }
    h4 {
        margin-bottom: 20px;
    }
    p + div.text-regularLight, p + div.blog-cont {
        font-size: inherit;
        font-weight: inherit;
        max-width: 700px;
        line-height: 1.85;
    }
}

code {
    background-color: var(--element4);
    color: var(--element1);
    padding: 0 4px 1px;
    border-radius: 4px;
    margin: 0 2px;
}