.blog-content {
    .blog-cont {
        width: 650px;
    }
}
.hero-image {
    border-radius: 15px;
}

deckgo-highlight-code {
    margin-bottom: 40px;
}

.blog-content div:last-child {
    font-size: var(--h5);
    font-weight: inherit;
    max-width: 650px;
    line-height: 1.85;
}