---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import img1 from '../../../assets/journey/img1.png';
---

<BaseLayout title="My Journey - Samuel Lawrentz">
  <div class="section__title section__title__new">MY JOURNEY</div>
  <div class="page-header">
    <div class="page-header__image" style="margin-bottom:50px;">
      <Image src={img1} alt="Samuel Lawrentz Journey" />
    </div>
  </div>
  <div class="timeline-holder">
    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2017</div>
        <div class="text-title2">First Job - Burning Glass</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Secured a role at Burning Glass during campus placements, starting as an
        intern with C and C++, eventually rising to a full-time Software
        Development Engineer.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2018</div>
        <div class="text-title2">Web Development Transition</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Fate smiled as I transitioned to the web development team, taking charge
        of crafting Single Page Applications and dynamic web apps.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2019</div>
        <div class="text-title2">Frontend Freedom at Plivo</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Embracing the role of Frontend Developer at Plivo, I relished the
        autonomy to construct high-performing web pages, refining my skills
        along the way.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2020</div>
        <div class="text-title2">Promoted to Senior Frontend Developer</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        The pandemic hit hard, turning 2020 and the subsequent year into a
        whirlwind of work-from-home days, revolving around hand sanitization
        rituals and adapting to the new norm.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2021</div>
        <div class="text-title2">SDE-1 Role at Contacto</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Stepped into the product engineering team at Contacto, delving into a
        tech stack enriched with Electron, React, Vue, Redux, SCSS, and more.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2022</div>
        <div class="text-title2">Mastering React Artistry</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        A year dedicated to mastering React, unraveling its intricacies,
        comprehending value passing, event loops, and core concepts, while also
        broadening my skillset.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2023</div>
        <div class="text-title2">Promoted to SDE-2</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        As a Senior UI engineer at Plivo, focused on exciting feature
        development and optimizing performance, I honed leadership skills.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2024</div>
        <div class="text-title2">Evolving into a Senior/Lead Engineer</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Last year, I embraced ownership and responsibility, evolving into a
        better Senior/Lead Engineer. The past year brought invaluable learnings,
        shaping me into a more adept professional.
      </div>
    </div>

    <div class="timeline" style="margin-bottom:40px;">
      <div class="year">
        <div class="text-regularLight" style="height:24px;">2025</div>
        <div class="text-title2">Promotion to SDE3 &amp; AI Innovation</div>
      </div>
      <div class="subtext" style="max-width:480px;">
        Achieved promotion to SDE3, marking a significant career milestone. Led
        a complete application overhaul leveraging AI technologies,
        demonstrating technical leadership while continuing to build and explore
        new frontiers in software development.
      </div>
    </div>
  </div>
</BaseLayout>
