.blog-page-title {
  text-align: center;
  margin-bottom: 90px;
}
.home-blog {
  margin: 0 -15%;
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
  grid-auto-rows: min-content;
  grid-gap: 1px;
  .card {
    outline: 1px solid var(--element4);
  }

  a:nth-child(2n) {
    grid-row: span 2;
  }

  a:nth-child(5n) {
    grid-column: span 2;
  }

  .canvas-div {
    --padding: -30px;
    position: absolute;
    left: var(--padding);
    right: var(--padding);
    top: var(--padding);
    bottom: var(--padding);
    border: 1px solid var(--element1);
    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
.input-block-search {
  width: 80%;
  margin: auto;
  .input-wrapper,
  input {
    width: 100%;
  }
}

.not-found {
  .man-emoji {
    font-size: var(--h1);
    margin-bottom: 32px;
    color: var(--secondary-color);
  }
  text-align: center;
}

.hacks {
  a {
    text-decoration: none;
  }
  h4 {
    margin-bottom: 8px;
  }
}

.category-heading {
    font-size: var(--h4);
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
        color: var(--primary-color);
    }
    &.active {
      color: var(--primary-color);
      font-weight: 500;
    }
}
