.sheet {
    --sheet-height: 500px;
    --sheet-width: 850px;
    --sheet-block-width: calc(var(--sheet-width) / 15);
    --sheet-holder-height: 50px;
    --sheet-hole-size: 20px;
    --sheet-holder-shadow: #76767677;
    height: var(--sheet-height);
    margin-top: 30px;
    border-radius: 15px;
    padding: 60px;
    position: relative;
    &:before {
        content: '';
        width: 8px;
        height: var(--sheet-holder-height);
        background: #fff;
        position: absolute;
        top: calc(var(--sheet-holder-height) / -2);
        left: var(--sheet-block-width);
        border-radius: 600px;
        z-index: 2;
        box-shadow: calc(var(--sheet-block-width) * 13) 0 #fff, 0 var(--sheet-height) #fff, calc(var(--sheet-block-width) * 13) var(--sheet-height) #fff, calc(var(--sheet-block-width) * 13 + 5px) 0 2px -2px var(--sheet-holder-shadow), 5px var(--sheet-height) 2px -2px var(--sheet-holder-shadow), calc(var(--sheet-block-width) * 13 + 5px) var(--sheet-height) 2px -2px var(--sheet-holder-shadow), 5px 0 2px -2px var(--sheet-holder-shadow);
    }
    &:after {
        content: '';
        width: var(--sheet-hole-size);
        height: var(--sheet-hole-size);
        background-color: var(--bg);
        position: absolute;
        top: calc(var(--sheet-holder-height) / 3.7);
        left: var(--sheet-block-width);
        border-radius: 50%;
        transform: translateX(-30%);
        z-index: 0;
        box-shadow: calc(var(--sheet-block-width) * 13) 0 var(--bg), 0 calc(var(--sheet-height) - var(--sheet-holder-height)) var(--bg), calc(var(--sheet-block-width) * 13) calc(var(--sheet-height) - var(--sheet-holder-height)) var(--bg);
    }
}
