.show-mobile {
    display: none !important;
}

@media screen and (max-width: 700px) {
    .container:not(.increase-specificity) {
        flex-wrap: wrap-reverse;
        .intro {
            flex: 1 1 100%;
        }
        .image {
            height: 200px;
            justify-content: start;
            left: calc(50% - 70px);
            flex: 0 0 100px;
        }
    }
    main {
        overflow-x: hidden;
    }
    .friends-title {
        text-align: center;
        &:after {
            content: none !important;
        }
    }
    .blog-content .content {
        width: auto !important;
    }
    .show-mobile {
        display: block !important;
    }
    .container.quotes-page:not(.increase-specificity) {
        flex-wrap: wrap;
    }
    .topbar {
        &-text {
            a {
                text-decoration: underline;
                pointer-events: all;
            }
        }
        .button-cont {
            display: none;
        }
    }
}