@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');
@import url(./variables.scss);
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  body {
    background-color: var(--bg);
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  main {
    width: min(850px, 90%);
    margin: 0 auto;
    height: min(500px, 100vh);
    margin-top: 100px;
  }