

    .text-regularLight {
        font-weight: 100;
        font-size: var(--h4);
    }
    .text-title2 {
        font-weight: 600;
        line-height: 1.3;
        font-size: var(--h4);
    }

    .text-regular {
        font-size: inherit;
    }
    .text-caption {
        font-size: var(--caption);
        font-weight: 100;
    }
  