

    .text-regularLight {
        font-weight: 100;
        font-size: var(--h4);
    }
    .text-title2 {
        font-weight: 600;
        line-height: 2.5;
        font-size: var(--h4);
    }

    .text-regular {
        font-size: var(--h5);
        line-height: 2;
    }
    .text-caption {
        font-size: var(--caption);
        font-weight: 100;
    }
  