/* Light Mode */
:root[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
  }
  
  /* Dark Mode */
  :root[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: hsl(0, 0%, 93%);
    --element1100: 	hsl(0, 0%, 87%);
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
  }

  :root {
    font-size: 16px;
    --h1: clamp(40px, 13vw, 4.5rem);
    --h2: clamp(30px, 8vw, 3rem);
    --h3: 1.875rem;
    --h4: 1.5rem;
    --h5: 1.125rem;
    --h6: 1rem;
    --body: 1rem;
    --caption: 0.875rem;
    --text-shadow-color: #a90222;
  }